<div class="nav">
  <div class="container nav-container hide-nav">
    <a class="hide-nav" href="#home">Home</a>
    <a class="hide-nav" href="#about">About</a>
    <a class="hide-nav" href="#portfolio">Portfolio</a>
    <a class="hide-nav" href="#contact">Contact</a>
  </div>
  <span class="button-menu" (click)="open()" ><fa-icon [icon]="faBars" class="icon fa-lg"></fa-icon></span>
</div>

<div id="mySidebar" class="sidebar">
  <a class="closebtn" (click)="close()">×</a>
  <a href="#home" (click)="close()">Home</a>
  <a href="#about" (click)="close()">About</a>
  <a href="#portfolio" (click)="close()">Portfolio</a>
  <a href="#contact" (click)="close()">Contact</a>
</div>
